/* styles.css */
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 300%;
  }
  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
  }
  a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
/*buttonbelow*/
  .btn {
    background: #3197ea20;
    text-decoration: rgb(148, 202, 148);
    padding: 0.5rem;
    border: 2px solid #060b294b;
    border-radius: 4px;
  }
  