/* styles.css */
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 300%;
  }
  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
  }
  a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
/*buttonbelow*/
  .btn {
    background: #898f945f;
    text-decoration: rgb(148, 202, 148);
    padding: 0.5rem;
    border: 2px solid #38394366;
    border-radius: 4px;
  }
/*imageSettings*/ 
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* Tab introduction*/
/* Style the tab */
.tab-nav-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* Add other styles as needed */
}

.tab {
  /* Basic tab styling */
  background-color: #1692a3;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin: 0 10px;
  transition: background 0.4s linear;
}

/* Add specific colors for active tabs */
.tab.active.purple {
  background-color: rgba(18, 68, 85, 0.2);
  color: rgb(3, 0, 14);
}
/* Add styles for other colors (pink, yellow, teal) similarly */

/* Hide tab text initially */
.tab p {
  font-weight: bold;
  overflow: hidden;
  max-width: 0;
}

/* Show tab text when active */
.tab.active p {
  margin-left: 10px;
  max-width: 200px;
  transition: max-width 0.4s linear;
}